body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  background-image: url(https://s.yimg.com/ny/api/res/1.2/eP2mehpxL4RNzBaf5TjskQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTQ5MQ--/https://media.zenfs.com/en/the_huffington_post_584/3c1d97a6f6d50104f83749826d4a5f2d);
}

.sticky-header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the header stays on top of other content */
}

.content {
    padding: 20px;
    margin-top: 60px; /* Make space for the sticky header */
}
.countdown {
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#timer {
    font-size: 36px;
}

span {
    padding: 5px;
}
